.titled {
    -fx-border-style: solid;
    -fx-border-color: lightgray;
    -fx-alignment: top-left;
    -fx-padding: 10;
}

.titled .title {
    -fx-position-shape: true;
    -fx-translate-x: 10;
    -fx-translate-y: -20;
    -fx-background-color: -fx-background;
    -fx-font-weight: bold;
}

.config {
    -fx-background-image: url("img/options2.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: -fx-background;
}

.config:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}